<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DoddleReport" version="1.4" targetFramework="net45" />
  <package id="DoddleReport.iTextSharp" version="1.4" targetFramework="net45" />
  <package id="DoddleReport.Web" version="1.4" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="iTextSharp" version="5.1.3" targetFramework="net45" />
  <package id="Joe.Business" version="1.0.4.3" targetFramework="net45" />
  <package id="Joe.Caching" version="1.0.0" targetFramework="net40" />
  <package id="Joe.Init" version="1.0.0.2" targetFramework="net40" />
  <package id="Joe.Map" version="1.0.2.6" targetFramework="net45" />
  <package id="Joe.MapBack" version="1.0.0.3" targetFramework="net40" />
  <package id="Joe.Reflection" version="1.0.2" targetFramework="net40" />
  <package id="Joe.Security" version="1.0.1.6" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="4.0.30506" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
</packages>